*, *::before, *::after {
    box-sizing: border-box;
    font-family: Neue Machina;
}

h1, h2, h3, h4, h5, h6 { /* reset */
    font-weight: normal;
    font-family: Neue Machina;
}

body {
    margin: 0px;
    font-family: Neue Machina;
}

a {
    color: black;
    text-decoration: none;
    text-transform: none;
}

@font-face {
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: normal;
    src:    url("fonts/NeueMachina-Regular.otf") format("opentype"),
            url("fonts/NeueMachina-Regular.woff") format("woff"),
            url("fonts/NeueMachina-Regular.woff2") format("woff2"),
            url("fonts/NeueMachina-Regular.eot") format("embedded-opentype");
}

@font-face {
    font-family: 'Neue Machina';
    font-weight: bold;
    src:    url("fonts/NeueMachina-Black.otf") format("opentype"),
            url("fonts/NeueMachina-Black.woff") format("woff"),
            url("fonts/NeueMachina-Black.woff2") format("woff2"),
            url("fonts/NeueMachina-Black.eot") format("embedded-opentype");
}

#cover {
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    transition: 2000ms ease-in-out;
    background: linear-gradient(to top, black 50%, #D8D8D8 50%);
    background-size: 100% 200%;
    background-position: top;
}

#cover > img {
    width: 50vw;
    margin: auto;
    opacity: 20%;
}

#dimmer {
    position: fixed;
    display: none;
    opacity: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    transition: visibility 0s, opacity 0.5s linear;
    background: white;
}

#dimmer > img {
    position: fixed;
    margin-top: 30px;
    width: 20px;
    top: 0;
    right: 35px;
}

#dimmer > img:hover {
    cursor: pointer;
}

#container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#nav {
    flex-grow: 1;
    margin: 10px;
    display: flex;
    position: relative;
    /* height: 100%; */
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-content: center; */
}

#wordmark {
    display: absolute;
    margin: auto;
}

#wordmark > img {
    height: min(11vw, 60px);
    transition: ease 500ms;
}

#wordmark > img:hover {
    height: min(12vw, 70px);
    transition: ease 500ms;
    cursor: pointer;
}   




/* DITCH ALL THE MENU CODE HERE AND IN JS !!!!! */




#nav-menu {
    transition-timing-function: ease-out;
    right: calc(50% - 30px);
    top: 10px;
    transform: translate(-100%, 0%);
}

.nav-menu-closed {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    border: solid;
    border-width: min(.75vw, 4.5px);
    border-radius: 2px;
    padding: 3px;
}

.nav-menu-closed:hover {
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition: 500ms;
}

.nav-menu-open {
    position: fixed;
    /* width: max(40vw, 400px); */
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin-top: 30px;
    height: calc(100vh - 60px);
    border-width: min(.75vw, 4.5px);
    background-color: rgba(0, 0, 0, 0.9);
    padding: 3px;
}

.nav-menu-closed > img {
    height: min(100%, 40px);
    display: block;
    margin: auto;
    transition: 100ms;
    opacity: 0%;
}

.nav-menu-closed:hover > img {
    opacity: 100%;
    transition: 2000ms;
}

#nav-exit {
    display: none;
    position: absolute;
    margin-left: -40px;
}

#nav-exit > img {
    width: 20px;
}

#nav-exit > img:hover {
    cursor: pointer;
}

#about {
    visibility: hidden;
    opacity: 0;
    height: 100%;
    overflow: auto;
    color: white;
    font-size: min(3vw, 22pt);
    padding: 10px;
    transition: visibility 0s, opacity 0.5s linear;
}

#about-section {
    position: fixed;
    display: none;
    opacity: 0%;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    padding: 30px;
    font-size: max(2vw, 16pt);
    overflow: scroll;
    transition: opacity 500ms ease-in-out;
    background-color: white;
}

#about-section > div {
    left: 0;
    width: max(40vw, 300px);
}

#about-section > img {
    position: fixed;
    right: 30px;
    top: 30px;
    width: 30px;
}

#about-section > img:hover {
    cursor: pointer;
}

#projects {
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    bottom: 10px;
    width: calc(100vw - 20px);
    margin: 10px;
    margin-bottom: 20px;
    border-top: black solid 1px;
}

#project-thumbnail-container {
 margin-top: 10px;
 position: relative;
}

#project-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: 1000ms;
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: -webkit-optimize-contrast;
}

#project-list {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: auto;
    overflow: auto;
    align-content: start;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
    flex-grow: 100;
}

#project-list > * {
    border-bottom: black solid 1px;
    justify-items: center;
    margin-bottom: 0px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: min(3.3vw, 14pt);
}

.project-link {
    color: blue;
    transition: 500ms;
}

.project-link:hover {
    cursor: pointer;
}

.project-name {
    grid-column: 1 / 2;
    transition: 500ms;
}

.project-type {
    grid-column: 2 / 3;
    transition: 500ms;
}

.project-location {
    grid-column: 3 / 4;
    transition: 500ms;
}

#project-divs > * {
    display: none;
    position: fixed;
    overflow-x: scroll;
    /* overflow-y: hidden; */
    /* bottom: 0; */
    /* left: 0; */
    /* margin: 20px; */
    opacity: 0;
    width: calc(100vw -  150px);
    height: 100vh;
    /* background-color: blueviolet; */
    z-index: 2;
    transition: visibility 0s, opacity 0.5s linear;
    scroll-behavior: smooth;
}

#project-divs img {
    /* display: flex; */
    margin: 30px 0 30px 30px;
    /* height: 100%; */
    width: calc(100vw -  185px);
    /* bottom: 0; */
}

.info {
    position: fixed;
    height: 21px;
    width: 35px;
    top: 0;
    right: 85px;
    margin-top: 30px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 2px;
    transition: ease 1500ms;
    font-size: 9pt;
}

.info-open {
    width: max(40vw, 300px);
    height: calc(50vh - 60px);
    background-color: rgba(0, 0, 0, 0.9);
    padding: 3px;
}

.info-heading{
    opacity: 1;
    transition: 500ms;
}

.info-heading:hover {
    cursor: pointer;
    color: blue;
    transition: ease 500ms;
}

.info-content-hidden {
    display: none;
    opacity: 0;
    transition: ease 1000ms;
}

.info-content-visible {
    padding: 10px;
    font-size: 10pt;
    display: block;
    opacity: 0;
    overflow: auto;
    transition: ease 1000ms;
}

.hover-right:hover {
    cursor: url('../images/arrow-right.svg') 16 16, e-resize;
    /* cursor: e-resize; */
}

.hover-left:hover {
    cursor: url('../images/arrow-left.svg') 16 16, w-resize;
    /* cursor: w-resize; */
}

#footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 8pt;
}

#footer > a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 950px) {
    #project-list {
        grid-template-columns: auto auto;
    }
    .project-location {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    #wordmark {
        margin-top: 10px;
    }
    #projects {
        flex-direction: column;
        /* top: 10px; */
        width: calc(100vw - 20px);
        border-top: none;
    }
    #project-thumbnail-container {
        margin: auto;
        position: relative;
        height: min(100vw, 50vh) !important;
        width: calc(min(100vw, 50vh) - 20px) !important;
    }
    #project-thumbnail {
        width: 100% !important;
        border-bottom: none;
    }
    #project-list > * {
        border-bottom: none;
        border-top: black solid 1px;
    }

    #project-list {
        height: 30vh;
    }

    #footer {
        /* padding: 0 10px 0 0; */
        width: 100%;
        text-align: right;
        font-size: 6pt;
        background-color: white;
    }

}


